*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}

html, body{
    height: 100%;
    width:100%;
    background-color: rgb(0, 0, 0);
}
@font-face {
    font-family: disney;
    src: url(./fonts/waltograph42.ttf);
}
@font-face {
    font-family:cinzel;
    src: url(./fonts/CinzelDecorative-Black.otf);
}

:root{
    --x: 40px;
    --y: 40px;
}
.box {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    pointer-events: none;
    background: radial-gradient(450px at var(--x) var(--y),transparent, black);
}
#main{
    padding-top:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: space-between;
    gap:80px;
    
}
.card{
    height:450px;
    width:300px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 20px;

}
.card img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 15px;
}

.bottom{
    height:100%;
    width:100%;
    bottom:0;
    border-radius: 15px;
    background: linear-gradient(black, transparent, black);
    color: white;
    position: absolute;
    padding:20px 20px;
    transition: all ease 0.5s;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.bottom h2{
    font-size: 50px;
    font-family: cinzel;
    margin-top:8px;
    text-align: center;
    color: transparent;
    background-image: url(./images/golden2.jpg);
    background-size: contain;
    background-clip: text;
}
.bottom button{
    height:100px;
    width:200px;
    background-image: url(./images/glitter1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#2ec4b6;
    border: none;

    background-color: transparent;
    font-size: 20px;
    font-weight: 800;
    padding:7x 30px;
    margin-top: 5px;
    cursor: pointer;
}

/* .card:hover .bottom{
    bottom:0;
} */
button:hover {
    scale:0.95;
    color:white;  
    font-size: 25px;
    font-weight: 800;      
}