*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body{

    height:100%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

@font-face {
    font-family: f1;
    src: url(./fonts/Butler_Stencil/Butlr_Bold_Stencil.otf);
}
@font-face {
    font-family: f2;
    src: url(./fonts/HelveticaNowDisplay-Thin.ttf);
}
@font-face {
    font-family: f3;
    src: url(./fonts/baskerville-similar/Baskervville/Baskervville-Italic-VariableFont_wght.ttf);
}

#main{
    background-color: white;
}
#navbar{

    margin:20px 50px;
    display:flex;
    justify-content: space-between;
}
#navbar a{
    color:black;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
}

#navbar h2{

    color:black;
    font-family: f1;
    font-size: 30px;
}

#main h1{
    margin-top:-50px;
    margin-left: 50px;
    margin-right:50px;
    color:black;
    font-family: f2;
    font-size: 350px;
    text-align: center;
}


#main > img{
    /* height:200px; */
    position: absolute;
}

#first{
    height:250px;
    top:40%;
    left:62%;
}
#second{
    height:200px;
    top:55%;
    left:45%;

}
#third{
    height:200px;
    top:50%;
    left:40%;
}

#bottom-left{
    
    margin:50px;
    width:200px;
    color:black;
    font-size: 13px;
    margin-bottom:50px;
    margin-top:20px;
    
}
#bottom-left h4{
    margin-bottom:10px;
}

#details{
    margin-bottom: 20px;
}

#bottom-bar p{
    margin-left:50px;
    color:black;
    font-size: 30px;
    font-family: f3;
}
#look a{
    color:black;
    font-size:20px;
}
#bottom-bar{

    margin-right: 50px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;

}