*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    height:100%;
    width:100%;
    /* overflow: hidden; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    min-height:100vh;
    width:100%;
    background-color: rgb(225, 248, 255);
    padding:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    
}
.card{
    height:370px;
    width:260px;
    background-color: white;
    padding:8px;
    border-radius: 10px;
    position:relative;
    text-align:center;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.525);
    cursor:pointer;
}
.card h5{
    position:absolute;
    right:20px;
    font-size: 15px;
}
.card #profile-pic{
    height:100px;
    width:100px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    padding:3px;
    background-color: transparent;
    border-radius: 50%;
    border:1.5px solid gray;
    box-shadow: 0px 0px 10px rgba(77, 76, 76, 0.874) ;
}
#profile-pic img{
    height:100%;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
} 
.card h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight:500;
}

.card #profession p{
    font-size: 14px;
    color:rgb(101, 101, 101);
}
.card #current-company p{
    color:green;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
}
.card .skills{
    display: flex;
    padding-top:10px;
    margin:6px;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.card .skills p{
    background-color: transparent;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    border:0.5px solid rgb(152, 152, 152);
    padding: 4px 12px;
}
.card .skills span p{
    background-color: rgb(0, 110, 255);
    color:white;
    border-radius: 30px;
    border:none;
}
.card #about{
    margin:15px;
}
.card #about p{
    font-size:12px;
    color:rgb(64, 64, 64);
}
.card button{
    padding-top:18px;
    background-color: transparent;
    border:1px solid rgb(152, 152, 152);
    border-left:none;
    border-right: none;
    border-bottom: none;
    font-size:12px;
    font-weight:600;
    color:rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
}
.card button:active{
    color: rgb(0, 110, 255);
    font-size:13px;
}
@keyframes scale-card{
    from{
        scale:1;
    }
    to{
        scale:1.1;
    }
}
/* .card:hover{
    animation: scale-card ease 0.5s;
    scale:1.1;
} */