*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
    background-color: #313647;
    text-align: center;
}
@font-face {
    font-family: f1;
    src: url(./fonts/Mosseta-Regular.otf);
}
h2{
    color:#fff8d4;
    font-size: 300px;
    margin-top: 100px;
}
button{
    background-color: #a3b087;
    padding: 20px;
    font-family: f1;
    font-size: 30px;
    font-weight: 400;
    margin-right: 20px;
    border-radius: 10px;
    border-style: none;   
    transition: all 0.3s ease;
}

button:hover{
    cursor:pointer;
    transform: scale(1.05);
}