*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{

    height: 100%;
    width : 100%;
    background-color: rgb(235, 245, 254);
    font-family: Arial, Helvetica, sans-serif;
}

#main h2{

    padding-top: 35px;
    padding-bottom: 20px;
}

#header{
    height: 150px;
    color: white;
    background-color: #002147;
    text-align: center;
    padding:40px;
    font-weight:100;
}
#header p{
    margin-top: 10px;
}

#main{
    text-align: center;
    padding-bottom: 10px;

}
#main p{
    background-color: white;
    margin:0 auto;
    margin-bottom: 8px;
    width: 80%;
    padding: 10px;
    border-radius:5px ;
}

#about{
    margin:20px 80px;
    height:150px;
    background-color: white;    
}
#about h2{
    padding-bottom:7px;
}

#edu{
    margin: 20px 80px;
    height: 200px;
    background-color: rgb(187, 237, 255);
}

#skills{
    margin: 20px 80px;
    height: 300px;
    background-color: rgb(255, 255, 199);
}
#skills p{
    width:65%;
    font-size: 15px;
    font-weight: 700;
}

#projects{
    margin: 20px 80px;
    height: 250px;
    background-color: rgb(242, 224, 254);
}
#projects p{
    font-style: italic;
}

#contact{
    margin: 20px 80px;
    height: 250px;
    background-color: rgb(195, 250, 241);
}
#contact p{
    width:65%;
}

#footer{
    height:50px;
    width:100%;
    background-color: #002147;
    color:white;
    text-align: center;
    font-size: 12px;
    padding:20px;
}


