*{
    margin:0;
    padding:0;

}

html, body{

    height: 100%;
    width:100%; 
}

/* @font-face {
    font-family: f1;
    src: url(./EagleHorizonP.ttf);
} */

@font-face {
    font-family:f2;
    src: url(./fonts/Mosseta-Regular.otf);
}

#box1{

    height:100vh;
    width:100%;
    background-image: url(./galaxy.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;  
    
}

h1{
    text-align: center;
    font-family: f2;
    color: white;
    font-size: 70px;
    font-weight: 100;
    padding:30px;
    position:relative;
    top: 30px;
}

button{
    color: white;
    background-color:transparent;
    font-family:sans-serif;
    padding:20px;
    margin:5px;
    border: 3px solid white;
    border-radius: 30px;
    position: relative;
    top:70px;
    
}