*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
    background-color: rgb(203, 195, 181);

    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height:580px;
    width:350px;
    background-color: white;
    /* padding:15px; */
    user-select: none;
    
}
#title img{
    height:70px;
    width: 140px;
    padding-left:20px;
}
#photo{
    position:relative;
    overflow: hidden;
}
#photo #like{
    position: absolute;
    top:50%;
    left:50%;
    background : linear-gradient(to top, #fa7e1e,#fa931e,#d62976, #962fbf);
    color:transparent;
    background-clip: text;
    font-size: 60px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65, 1, .77, 1.44) 0.4s;
}
.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px; 
    /* padding:5px; */
}

.story p{
    font-size: 12px;
}
.story .ring {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 2.5px; 
    background: linear-gradient(45deg,
                #feda75, 
                #fa7e1e, 
                #d62976, 
                #962fbf, 
                #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.story img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}
.story p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    font-size: 9px;
    font-weight:600 ;
    margin-top: 5px;
}
#user{
    margin-top: 10px;
    padding:8px;
    display: flex;
    flex-direction: row;
    gap:10px;
    /* border: 2px solid black; */
}
#user img{
    height:30px;
    width:30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}
#user p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    font-size:10px;
    font-weight:600 ;
    margin-top: 5px;
    white-space: nowrap;
}
#user i{
    margin-left: 220px;
    margin-top: 2px;
}
#photo img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
#symbols{
    padding-left:15px;
    padding-top:5px;
}
#symbols i{
    font-size: 21px;
    margin-right: 7px;
}
#tag{
    margin-left: 200px;
}
#caption p{
    padding:15px;
    font-size: 13px;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.emoji-flower{
  font-size: 13px; 
     
}
#bottom{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#bottom i{
    font-size: 20px;
}


