*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

@font-face {
    font-family: roboto-mono;
    src: url(./fonts/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: chillax;
    src: url(./fonts/Chillax-Regular.otf);
}

@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}
// @mixin card($background-image:url(./images)){
//     width:100%;
//             background-image:$background-image;
//             background-size: cover;
//             aspect-ratio:1/1 ;
//             padding:1rem;
//             border-radius: 0.7rem;

//             @include flex-column();
//             justify-content: space-between;
//             padding:1rem;

//             .icon,.bottom{
//                 background-color: rgba(187, 187, 187, 0.375);
//                 backdrop-filter: blur(5px);
//                 border-radius: 0.7rem;
//                 padding:0.5rem;
//             }
//             .top{
//                 display:flex;
//                 gap:1rem;
//                 justify-content: flex-end;
//             }
//             .icon{
//                 width:fit-content;
//                 border-radius: 50%;

//                 i{
//                     font-size: 1.3rem;
//                 }
//             }
//             .bottom{
//                 display:flex;
//                 justify-content: space-between;
//                 padding:1.5rem;

//                 p{
//                     font-size:1.3rem;
//                 }

//                 #dept{
//                     font-size: 1rem;
//                 }
//             }
// }
section{
    max-width: 2000px;
}
main{
    width:100%;
    font-family: chillax;
    @include flex-column();
    align-items: center;

    section.view1{
        width:100%;
        @include flex-column(1rem);
        padding: 1rem;  
        
        .top{
        width: 100%;

            img{
                width:100%;
                border-radius: 0.5rem;
            }
        }

        .bottom{
            background-color: rgb(30, 30, 30);
            border-radius: 10px;
            padding: 1rem;
            @include flex-column(3.5rem);

                .text{
                    @include flex-column(1rem);

                    h1{
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 2.5rem;
                        line-height: 2.7rem;
                    }
                    p{
                        font-weight: 300;
                        font-size :1.3rem ;
                        opacity:0.6;
                        line-height: 2rem;
                    }
                    button{
                        background-color: white;
                        color: rgb(30, 30, 30);
                        width:fit-content;
                        border:none;
                        font-size: 1rem;
                        border-radius: 10px;
                        padding:0.7rem;
                        font-weight: 500;
                    }
                }
            }
    }

    section.view2{
        @include flex-column(2.5rem);
        width: 100%;
        padding: 1rem;

        .top,.bottom{
            display:flex;
            width:100%;
            justify-content:space-around;

            .element{
            text-align: center;
            @include flex-column(0.2rem);
                small{
                    font-family:roboto-mono;
                    font-size: 0.9rem;
                    opacity:0.6;
                    letter-spacing: 0.1rem;
                }
                h2{
                    font-size: 2.3rem;
                    font-weight: 300;
                }
            }
        }

    }

    section.view3{
        width:100%;
        padding:1rem;
        @include flex-column(1rem);

        .top{
            width:100%;
            img{
                width:100%;
                border-radius:0.7rem;
            }
        }
        .bottom{
            background-color: rgb(30, 30, 30);
            border-radius: 10px;
            padding: 1rem;
            @include flex-column(3.5rem);

                .text{
                    @include flex-column(1rem);

                    h1{
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 2.5rem;
                        line-height: 2.7rem;
                    }
                    p{
                        font-weight: 300;
                        font-size :1.3rem ;
                        opacity:0.6;
                        line-height: 2rem;
                    }
                    button{
                        background-color: white;
                        color: rgb(30, 30, 30);
                        width:fit-content;
                        border:none;
                        font-size: 1rem;
                        border-radius: 10px;
                        padding:0.7rem;
                        font-weight: 500;
                    }
                }
        }
        .bottom>p{
            text-transform: uppercase;
        }
    }

    section.view4{
        width:100%;
        padding:1rem;
        @include flex-column(1rem);

        .top{
            width:100%;
            img{
                width:100%;
                border-radius:0.7rem;
            }
        }
        .bottom{
            background-color: rgb(30, 30, 30);
            border-radius: 10px;
            padding: 1rem;
            @include flex-column(3.5rem);

                .text{
                    @include flex-column(1rem);

                    h1{
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 2.5rem;
                        line-height: 2.7rem;
                    }
                    p{
                        font-weight: 300;
                        font-size :1.3rem ;
                        opacity:0.6;
                        line-height: 2rem;
                    }
                    button{
                        background-color: white;
                        color: rgb(30, 30, 30);
                        width:fit-content;
                        border:none;
                        font-size: 1rem;
                        border-radius: 10px;
                        padding:0.7rem;
                        font-weight: 500;
                    }
                }
        }
        .bottom>p{
            text-transform: uppercase;
        }
    }
    
    section.view5{
        display: flex;
        gap:2rem;
        width:100%;
        @include flex-column(2rem);

        #cards{
            padding:1rem;

            .card{
                width:100%;
                background-image: url(./images/card1.webp);
                background-size: cover;
                aspect-ratio:1/1 ;
                padding:1rem;
                border-radius: 0.7rem;

                @include flex-column(1rem);
                justify-content: space-between;
                padding:1rem;

                .icon,.bottom{
                    background-color: rgba(187, 187, 187, 0.375);
                    backdrop-filter: blur(5px);
                    border-radius: 0.7rem;
                    padding:0.5rem;
                }

                .top{
                    display:flex;
                    gap:1rem;
                    justify-content: flex-end;
                }

                .icon{
                    width:fit-content;
                    border-radius: 50%;

                    i{
                        font-size: 1.3rem;
                    }
                }

                .bottom{
                    display:flex;
                    justify-content: space-between;
                    padding:1.2rem;

                    p{
                        font-size:1.3rem;
                    }

                    #dept{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    section.view6{
        width:100%;
        @include flex-column(1rem);
        padding: 1rem;  
        
        .top{
        width: 100%;
            img{
                width:100%;
                border-radius: 0.5rem;
            }
        }
        .bottom{
            background-color: rgb(30, 30, 30);
            border-radius: 10px;
            padding: 1rem;
            @include flex-column(3.5rem);

                .text{
                    @include flex-column(1.5rem);
                    p{
                        opacity:0.8;
                    }
                    h1{
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 2.5rem;
                        line-height: 2.7rem;
                    }
                }

                button{
                        background-color: white;
                        color: rgb(30, 30, 30);
                        width:fit-content;
                        border:none;
                        font-size: 1rem;
                        border-radius: 10px;
                        padding:0.7rem;
                        font-weight: 500;
                    }
        }
    }

    section.view7{
        
        width:100%;
        @include flex-column(3rem);
        padding: 2.5rem;
        background-color:#cebd63;
        color:black;
        border-radius: 0.7rem;
        text-transform: uppercase;

        p{
            font-size:1rem ;
            font-family: roboto-mono;
        }
        h1{
            font-size: 2.5rem;
            font-weight:500;
            line-height:2.5rem;
        }
        button{
        
            background-color: black;
            color:white;
            text-transform: uppercase;
            padding:1rem 7rem;
            border-radius: 0.7rem;
            font-family: roboto-mono;
        }

    }
}
@media(min-width:900px){
    main{

        section.view1{
            flex-direction: row;
            padding: 1rem 4rem;

            .top, .bottom{
                width:50%;
                // height:100%;
            }

            .bottom{
                justify-content: space-between;
                padding:3rem;

                .text{
                    gap:1.5rem;
                    h1{
                        font-size: 3.5rem;
                        line-height: 4.5rem;
                    }
                    p{
                        width:90%;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        section.view2{
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3{
            flex-direction:row;
            padding: 1rem 4rem;

            .top,.bottom{
                width:50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap:2rem;
                }
            }
        }

        section.view4{
            flex-direction:row-reverse;
            padding: 1rem 4rem;

            .top,.bottom{
                width:50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap:2rem;
                }
            }
        }

        section.view5{
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view6{
            flex-direction:row;
            padding: 1rem 4rem;
            
            .top,.bottom{
                width:50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap:2rem;
                }
            }
        }
    }
}
