*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}

html, body{
    height: 100%;
    width:100%;
    background-color: rgb(0, 0, 0);
}

@font-face {
    font-family: disney;
    src: url(./fonts/waltograph42.ttf);
}
@font-face {
    font-family:cinzel;
    src: url(./fonts/CinzelDecorative-Black.otf);
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    height:350px;
    width:250px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 20px;

}
.card img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 15px;
}

.bottom{
    height:100%;
    width:100%;
    bottom:-100%;
    border-radius: 15px;
    background: linear-gradient(black, transparent, black );
    color: white;
    position: absolute;
    padding:20px 20px;
    transition: all ease 0.5s;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.bottom h2{
    font-size: 30px;
    font-family: cinzel;
    margin-top:8px;
    text-align: center;
    color: transparent;
    background-image: url(./images/golden2.jpg);
    background-size: contain;
    background-clip: text;
}
.bottom p{
    margin-top: 100px;
    text-align:justify;
}
.bottom button{
    height:50px;
    width:150px;
    background-image: url(./images/glitter1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#2ec4b6;
    border: none;

    background-color: transparent;
    font-size: 15px;
    font-weight: 800;
    padding:7x 30px;
    margin-top: 5px;
    cursor: pointer;

}

#nav a:hover{
    font-size: 17px;
    font-weight: 500;
}
.card:hover .bottom{
    bottom:0;
}
button:hover {
    height:50px;
    width:150px;
    border-radius: 50px;
    background-color: #2ec4b6;
    color:white;
    /* border: 2px solid #2ec4b6; */
    font-size: 17px;
    font-weight: 600;
    
    
}